@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,800;1,300&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300&family=Roboto:ital,wght@0,100;0,400;0,900;1,100;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

  /* outline: 1px dotted red; */
  box-sizing: border-box;
  --Secondary-Font: 'Roboto', sans-serif;
  --Primary-Font: 'Roboto Condensed', sans-serif;
  --Background: #fefbfa;
  --Text-Color: #120502;
  --Secondary-Color: #fad7d1;
  --Primary-Color: #eb6952;
  --Accent: #e8553b;
  --Hover: #e8553b85;
  --Font-Hover: #771908;
  --White-Color: #ffffff;
}

.btn-primary {
  background-color: var(--Accent) !important;
  border-color: var(--Accent) !important;
}

h2.text-primary {
  color: var(--Accent) !important;
}

.text-primary {
  color: var(--Accent) !important;
}

.border-primary {
  border-color: var(--Accent) !important;
}

.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: var(--Hover) !important;
  border-color: var(--Hover) !important;
  color: var(--Font-Hover) !important;
}

section.bg-primary {
  background-color: var(--Accent) !important;
}

.btn-outline-primary {
  border-color: var(--Accent) !important;
  color: var(--Accent) !important;
}

.explanation-container,
.quiz-scope-container,
.quiz-body-container {
  display: none;
}

.bg-png {
  animation: bounce 4s linear infinite alternate;
}

.background-container {
  margin: auto;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.quiz-result-score {
  font-size: 25px;
}

.result,
.quiz-header {
  display: none;
}

.nav-link {
  color: var(--Text-Color) !important;
}
