@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,800;1,300&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300&family=Roboto:ital,wght@0,100;0,400;0,900;1,100;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;

  /* outline: 1px dotted red; */
  box-sizing: border-box;
  --Secondary-Font: 'Roboto', sans-serif;
  --Primary-Font: 'Roboto Condensed', sans-serif;
  --Background: #fefbfa;
  --Text-Color: #120502;
  --Secondary-Color: #fad7d1;
  --Primary-Color: #eb6952;
  --Accent: #e8553b;
  --Hover: #e8553b85;
  --Font-Hover: #771908;
  --White-Color: #ffffff;
}

label {
  font-family: var(--Secondary-Font);
  color: var(--Text-Color);
  font-weight: 400;
  font-size: 16px;
  margin-left: 8px; /* Adjust spacing between the radio button and the label */
  cursor: pointer;
}
/* Hide the default radio button */
input[type='radio'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

/* Unchecked state */
input[type='radio']:before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Checked state */
input[type='radio']:checked:before {
  background-color: var(--Primary-Color); /* Change this color for the selected state */
}

/* Add some additional styles to indicate hover and active states */
input[type='radio']:hover:not(:checked) {
  border-color: #999;
}

input[type='radio']:active:not(:checked):before {
  background-color: #ccc;
}
.quiz-mechanics-container {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
}

.quiz-user-name {
  margin: 20px 0;
}

.quiz-user-name input {
  width: 100%;
  height: 30px;
  border: 1px var(--Accent) solid;
  border-radius: 5px;
  padding: 15px;
}

.quiz-subjects-container,
.quiz-level-grade-container {
  display: flex;
  align-items: center;
}

.subject-container,
.grade-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.quiz {
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--Accent);
}

.quiz-container {
  width: 1000px;
  height: 600px;
  background-color: var(--Background);
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.quiz-scope-header-container {
  margin: 20px 0;
}

.quiz-scope-header-container span {
  font-family: var(--Primary-Font);
  font-weight: 300;
  padding: 10px;
}

.quiz-options-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.quiz-question-container {
  margin: 20px 0;
}

.quiz-question-container h2 {
  font-family: var(--Primary-Font);
  font-weight: 300;
  font-size: 2em;
}

.quiz-scope-container {
  width: 800px;
  display: none;
  margin: 0 auto;
}

.quiz-scope-container li,
p {
  font-family: var(--Primary-Font);
  font-size: 1.2em;
  font-weight: 300;
  font-style: italic;
  line-height: 25px;
  white-space: pre-wrap;
}

.explanation-container {
  margin: 10px 0;
  outline: 2px dotted var(--Primary-Color);
  width: 100%;
  height: auto;
  padding: 50px;
  place-content: center;
  display: none;
}

.explanation-container span {
  font-family: var(--Primary-Font);
  font-size: 1.2em;
  font-style: italic;
}

.quiz-scope-button,
.quiz-start-button,
.quiz-retake-button {
  margin: 20px 0;
  width: 100%;
  height: 50px;
  background-color: var(--Primary-Color);
  border: none;
  display: inline;
  transition: 0.1s ease-in;
  color: var(--Text-Color);
  cursor: pointer;
  border-radius: 5px;
  font-family: var(--Primary-Font);
  padding: 5px;
  font-size: 1em;
  color: var(--White-Color);
}

.answer-button {
  width: 100%;
  height: 90%;
  padding: 15px;
  background-color: var(--Secondary-Color);
  border: none;
  transition: 0.1s ease-in;
  color: var(--Text-Color);
  cursor: pointer;
  border-radius: 5px;
  font-family: var(--Primary-Font);
  font-size: 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.answer-button:hover {
  background-color: var(--Primary-Color);
  color: var(--White-Color);
}

.quiz-options-container {
  grid-template-columns: auto auto;
  display: grid;

  width: 100%;
  height: 200px;
  /* outline: 1px solid red; */
}

.correct-answer {
  pointer-events: none;
  background-color: #2ecc71;
  width: 100%;
  height: 90%;
  padding: 15px;
  border: none;
  transition: 0.1s ease-in;
  color: #00411b;
  cursor: pointer;
  border-radius: 5px;
  font-family: var(--Primary-Font);
  font-size: 1em;
}

.wrong-answer {
  pointer-events: none;
  background-color: #e74c3c;
  width: 100%;
  height: 90%;
  padding: 15px;
  border: none;
  transition: 0.1s ease-in;
  color: #5c0a01;
  cursor: pointer;
  border-radius: 5px;
  font-family: var(--Primary-Font);
  font-size: 1em;
}

.disabled-answer-button {
  pointer-events: none;
  background-color: #bababa;
  width: 100%;
  height: 90%;
  padding: 15px;
  border: none;
  transition: 0.1s ease-in;
  color: var(--White-Color);
  cursor: pointer;
  border-radius: 5px;
  font-family: var(--Primary-Font);
  font-size: 1em;
}

.next-question-container {
  width: 200px;
  /*  outline: 1px solid red; */
  position: relative;
  left: 80%;
}
.quiz-next-question-button {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 140px;
}

.quiz-next-question-button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.quiz-next-question-button:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.quiz-result-container {
  width: 100%;
  height: 0;

  display: grid;
  place-content: center;
  text-align: center;
  position: relative;
  top: 500px;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.quiz-result-container.slide-up {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  text-align: center;
  position: relative;
  /* Your existing styles here */
  top: 0; /* Move the element to the top */
  opacity: 1; /* Show the element */
}

.quiz-result-container h2 {
  font-family: var(--Primary-Font);
  font-weight: 600;
  font-size: 3em;
  color: var(--Primary-Color);
}

.quiz-result-container span {
  font-family: var(--Primary-Font);
  font-weight: 300;
  font-size: 2em;
}
